<div class="content">
<div class="indent-text">
    <div class="home_content">
        {{=it}}
    </div>
    <div class="home_demo">
        <a href="/#/solutions/map_demo">
            <h2>DEMO EN LIGNE HYDRIIS MAP</h2>
            <div>
                <img src="images/demobtn.jpg" alt="">
                <div>Testez une simulation sur zones pré calculées</div>
            </div>
        </a>
    </div>

</div>

<div style="clear:both;"></div>

<div class="totem">
    <a class="bloc-01-text" href="/#/solutions/map">
        <h2 class="type_1"><span class="name-title">Hydri<span class="color">i</span>s</span> MAP</h2>
        <p>Cartographier la saturation des sols en eau en plaines alluviales </p>
        <img src="images/blocs/picto_1.png" class="picto">
    </a>
    <a class="bloc-01-text" href=" /#/solutions/forecast">
        <h2 class="type_2"><span class="name-title">Hydri<span class="color">i</span>s</span> FORECAST</h2>
        <p>Réaliser des prévisions de l&apos;évolution de la saturation des <br>sols en eau   </p>
        <img src="images/blocs/picto_2.png" class="picto">
    </a>
    <a class="bloc-01-text" href="/#/solutions/eco">
        <h2 class="type_3"><span class="name-title">Hydri<span class="color">i</span>s</span> ECO</h2>
        <p>Etudier les impacts socio-économiques d&apos;un projet d&apos;aménagement en plaines alluviales</p>
        <img src="images/blocs/picto_3.png" class="picto">
    </a>
    <a class="bloc-01-text" href="/#/solutions/city">
        <h2 class="type_4"><span class="name-title">Hydri<span class="color">i</span>s</span> CITY</h2>
        <p>Support dynamique de formation et programme de sensibilisation </p>
        <img src="images/blocs/picto_4.png" class="picto">
    </a>
</div>
<div class="clear"></div>

</div>


