 <div id="slider">
        {{~it.products:product}}

        <img src='images/solutions/{{=product.image}}' alt='<div id="header-text">
        <p id="header-text-title">{{=product.title}}</p>
        <p id="header-text-desc">{{=product.desc}}</p>
        <p><a href="{{=product.url}}">{{=product.plus}}</a></p>
        </div>'/>
        {{~}}

</div>