
    <ul id="submenu">
        <li><a href="/#/a_propos/au_service_de/EAU"><span class="close">Eau</span><span class="open">Gestionnaires Eau</span></a></li>
        <li><a href="/#/a_propos/au_service_de/BE"><span class="close">BE</span><span class="open">Bureaux d'études</span></a></li>
        <li><a href="/#/a_propos/au_service_de/CT"><span class="close">CT</span><span class="open">Collectivités territoriales</span></a></li>
        <li><a href="/#/a_propos/au_service_de/MO"><span class="close">MO</span><span class="open">Maitrise ouvrage / oeuvre</span></a></li>
    </ul>
