<div class="ariane">
    Accueil &gt; A propos d'Hydriis &gt; <span class="actif">Nos modèles</span>
</div>
<h1>A propos d’Hydriis Nos modèles</h1>

<p class="first-text">
    Les solutions Hydriis fonctionnent à partir de deux modèles, un modèle hydrodynamique et un modèle d’évaluation socio-économique.
</p>

<h2 id="hydro">Notre modèle hydrodynamique</h2>

<div class="indent-text">

    <span class="line-break"></span>

    <p>
        <a href="/#/solutions/map">Hydriis MAP</a> et <a href="/#/solutions/forecast">Hydriis FORECAST</a> sont des solutions d’évaluation, toutes deux <b>issues du même modèle hydrodynamique.</b>
    </p>

    <p>
        Hydriis MAP <b>cartographie les milieux humides et les probabilités de saturation en eau</b> des sols en bordures de cours d’eau et en plaines alluviales, en fonction de données historiques de débit rivière (ou hauteurs d’eau). Hydriis-MAP permet ainsi de simuler les cartographies sur différentes périodes (historique ou actuelle), et de les comparer entre elles.</p>
    <p>
        Hydriis-FORECAST permet de réaliser des <b>prévisions sur l’évolution des milieux humides et des probabilités de saturation des sols en eau</b> suite aux <b>changements climatiques</b>
        (évolution des températures ou des débits rivière), ou à des <b>aménagements</b> (bases de loisirs, gravières, industries, voies de transports, enrochements, méandrages, etc.).




    </p>

    <center><img src="images/NotreModel_image1.png" alt="Notre mod&egrave;le" width="450" /></center>
    <p></p>

    <p>
        A partir de votre site d’étude, le modèle hydrodynamique utilise, au pas de temps quotidien, un historique ou des prévisions de débits ou de hauteurs d’eau. Il est alimenté par des données d'entrée issues des <b>4 bases de données</b> (cf schéma ci-dessous) mais peut aussi intégrer <b>vos propres données d’altimétrie</b>, de <b>piézométrie</b>, de réseau <b>hydrographique</b>, ainsi que de <b>débits</b> et de <b>hauteurs</b> d’eau dans la rivière.
    </p>

    <table id="notremodel_image2"><tr>
        <td>
            <p><br />Données d'entrée</p>
            <div>
                <b>- RGE Alti 1/25m (IGN)</b><br />
                Modèle Numérique Elevation<br />
                <br />
                <b>- Portail ADES</b><br />
                Données Piézométriques<br />
                <br />
                <b>- Banque HYDRO</b><br />
                Historique Débits/Hauteurs<br />
                <br />
                <b>- BD CARTHAGE</b><br />
                Réseau Hydrographique
            </div>
        </td>
        <td class="middle"><img src="images/arrow_right.png" /></td>
        <td>
            <p>Modèle Hydrodynamique</p>
            <div>
                <b>Paramètres SOL</b><br />
                - conductivité hydraulique<br />
                - coefficient de porosité<br />
                <br />
                <b>Paramètres RIVIERE</b><br />
                - côtes NGF du fond (amont)<br />
                - coefficient de Manning<br />
                - pente(s)<br />
                <br />
                <b>Sorties du modèle</b><br />
                - hauteurs d'eau (côtes NGF)<br />
                - vitesses d'écoulement
            </div>
        </td>
        <td class="middle"><img src="images/arrow_right.png" /></td>
        <td>
            <p><br />Livrables</p>
            <div>
                <b>- Cartographie des</b><br />
                MILIEUX HUMIDES<br />
                <br />
                <br />
                <b>- Cartographie des</b><br />
                Probabilités de SATURATION
                des sols en eau<br />
                <br />
                <br />
                <b>- Données simulées des</b><br />
                Hauteurs d'eau / côtes NGF<br />
                Vitesses d'écoulement
            </div>
        </td>
    </tr></table>
    <p></p>

    <p>
        La méthode de maillage utilisée génère des cellules pouvant être de tailles variables, offrant ainsi aux solutions Hydriis-MAP et Hydriis-FORECAST <b>différents niveaux de précisions</b> dans l’espace, adaptés au site d’étude choisi.
    </p>
    <p>
        Le modèle hydrodynamique a été développé afin de reproduire le fonctionnement hydrologique des rivières et des milieux poreux situés aux abords de celles-ci (hypothèse de continuité à l’interface), comme décrit dans la <a href="/#/a_propos/modeles/dimitri">thèse de Dimitri Peyrard  en 2008</a>. Ce modèle utilise <b>peu de paramètres</b> physiques (5 paramètres), et simule, dans les plaines alluviales, l’évolution spatio-temporelle des hauteurs d’eau (côtes NGF) et des vitesses d’écoulement dans ces deux milieux.
    </p>
    <p>
        Le <a href="/#/solutions/map_demo">modèle de référence</a> a été simulé sur une période de 10 années dans la plaine alluviale de la Garonne, et comparé à des données piézométriques, indiquant une précision de <a href="/#/solutions/map">99% d’erreur relative en moyenne</a>.


    </p>

    <img src="images/NotreModel_image3.png" alt="Notre mod&egrave;le" width="650" />

    <p class="figure">
        Figure : exemple d’une visualisation 3D d’une section transversale du domaine simulé dans la plaine alluviale de la Garonne, illustrant les hauteurs d’eau simulées dans le milieu poreux et dans la rivière. Le débit journalier pour 10 ans est imposé en amont de la rivière (<a href="/#/a_propos/modeles/bonneu">Bonneu et al., 2014</a>)
    </p>

    <p>
        Après un minimum de <b>10 années de simulation</b>, les sorties du modèle sont traitées et couplées à un <b>critère hydrologique</b>,
        basé sur 3 paramètres : la profondeur de la nappe par rapport à la surface du sol, la durée de saturation, ainsi que la probabilité d'occurrence du critère.
        Ce critère hydrologique est issu des définitions de l'<a href="/#/a_propos/modeles/usarmy">US Army Corps of Engineers (2002, 2010)</a>.
        Ce critère définit les conditions favorables au développement de la végétation hygrophile :  la profondeur du toit de la nappe par rapport à la surface du sol doit être de 50cm, la durée de saturation “minimale” de 7 jours consécutifs, avec une occurrence de ce critère de 50% (5 années sur 10). On utilise ces paramètres pour calculer à la fin de la simulation, les milieux humides, en y introduisant une variabilité due aux approximations du modèle (variabilité de 1.5m sur la profondeur du toit de la nappe).
    </p>

    <p>
        En ce qui concerne les probabilités de saturation, la probabilité de saturation des sols en eau est considérée comme “faible” si la hauteur d’eau simulée (la côte NGF en mètres) est située à moins de 2m de la surface du sol pendant au moins 3j consécutifs au cours de 2 années sur les 10 simulées. Si cela se produit 5 années sur les 10, alors la probabilité est moyenne, et 8 sur 10, elle est forte.
    </p>

    <p class="nb">
        Le modèle peut être utilisé pour des nappes non connectées à une rivière si des données supplémentaires sont disponibles concernant la piézométrie, la nature et les propriétés du sol.
    </p>


    <h3>Références</h3>


    <div class="indent-text">

        <span class="line-break"></span>

        <ul class="list">
            <li>Bonneu A., Espitalier-Noël G., Torguet P., Jessel J.P., Sanchez-Pérez J.M., Vervier P., Sauvage S., 2014. Accept’Hydro: a tool for evaluating potential wetland area at floodplain scale. 7th International Congress on Environmental Modelling and Software (iEMSs), June 15-19, 2014, San Diego, California, USA <br /><a id="bonneu" href="http://www.iemss.org/sites/iemss2014/papers/iemss2014_submission_117.pdf">> Télécharger</a></li>
            <li>Peyrard, D., 2008. Un modèle hydrobiogéochimique pour décrire les échanges entre l’eau de surface et la zone hyporhéique de grandes plaines alluviales. Thèse délivrée par l’université Paul Sabatier à  l’UFR Sciences de la Vie et de la Terre, spécialité Hydroécologie. <br /><a id="dimitri" href="http://thesesups.ups-tlse.fr/549/1/Peyrard_Dimitri.pdf ">> Télécharger</a></li>
            <li>U.S. Army Corps of Engineers. 2002. Developing a “Regionalized” Version of the Corps of Engineers Wetlands Delineation Manual : Isuses and Recommendations (J. S. Wakeley) ERDC/EL TR-02-20: U.S. Army Engineer Research and Development Center, Environmental Laboratory.<br /><a id="usarmy" href="http://el.erdc.usace.army.mil/elpubs/pdf/trel02-20.pdf">> Télécharger</a></li>
            <li>U.S. Army Corps of Engineers. 2010. Growing Season Definition and Use in Wetland Delineation (K. Malone and H. Williams) ERDC/CRREL CR-10-3: U.S. Army Engineer Research and Development Center, Cold Regions Research and Engineering Laboratory. <br /><a href="http://www.researchgate.net/publication/235127498_Growing_Season_Definition_and_Use_in_Wetland_Delineation_A_Literature_Review">> Télécharger</a></li>
        </ul>

    </div>

</div>


<h2 id="socio-eco">Notre modèle d’évaluation socio-économique</h2>


<div class="indent-text">

    <span class="line-break"></span>

    <p>
        Le modèle d’évalaution socio-économique permet de réaliser un diagnostic sociétal et économique d’un territoire à composante naturelle (milieu humide ou cours d’eau). Ce diagnostic s’appuie d’une part sur un tableau de bord d’identification des enjeux socio-économiques et d’autre part sur une évaluation multi-critères de ces enjeux. Cette évaluation mobilise une lecture quantitative et qualitative des enjeux. L’évaluation repose sur un référentiel de valeurs différenciées couplé à une matrice de relations entre les rubriques du tableau de bord des enjeux et les rubriques de sorties de l’évaluation socio-économique.
    </p>

    Principe de fonctionnement de l’outil :
    <p></p>

    <img src="images/SchemaSocioEco.png" alt="Schema Socio Ecologique" width="650" />

    <p></p>
</div>