<div class="ariane">
    Accueil &gt; A propos d'Hydriis &gt; <span class="actif">Nos partenaires</span>
</div>
<h1>A propos d’Hydriis Nos partenaires</h1>


<div class="partners" style="">
    <img src="images/logo_EColab.jpg" alt="Partenaire" />
    <img src="images/logo_IRIT.jpg" alt="Partenaire" />
</div>

<div  class="partners" style="">
    <img src="images/logo_capitole.jpg" alt="Partenaire" />
    <img src="images/logo_INP_ensat.jpg" alt="Partenaire" />
    <img src="images/logo_INP.jpg" alt="Partenaire" />
    <img src="images/logo_paulsab.jpg" alt="Partenaire" />
    <img src="images/logo_UTM.jpg" alt="Partenaire" />
    <img src="images/logo_CNRS.jpg" alt="Partenaire" />

</div>

<p>
</p>


<h2>ECOLAB - Laboratoire d’Ecologie Fonctionnelle</h2>

<div class="indent-text">
    <p>
        <i>UMR 5245 CNRS/UPS/INPT,  ENSAT Castanet-Tolosan</i><br />
        L’unité de Biogéochimie et de Transfert aux interfaces étudie les transferts de contaminants dans les écosystèmes en ciblant les mécanismes et les facteurs de contrôle liés à ces transferts. Les recherches se structurent autour de deux axes :<br />
        · Les transferts aux interfaces atmosphère-plante-sol-eau ;
        <br />
        · Les transferts dans les hydrosystèmes avec notamment la prise en compte des zones interface.
        <br />
        L'équipe fédère des chercheurs majoritairement hydrobio-géochimistes, mais aussi venant de disciplines complémentaires, ce qui permet d’aborder les transferts d'éléments dans les écosystèmes dans leur complexité environnementale.
    </p>
</div>
<h2>IRIT - Institut de Recherche en Informatique de Toulouse</h2>
<div class="indent-text">
    <p>
        <i>Université Paul Sabatier</i><br />
        L’équipe VORTEX (Visual Objects from Reality To Expression) regroupe des compétences dans les domaines de l’informatique graphique, de la vision par ordinateur, de l’intelligence artificielle et des réseaux. Ce regroupement de compétences permet à l’équipe VORTEX d’aborder les différentes problématiques liées aux mondes virtuels ou augmentés de façon cohérente, d’un point de vue fondamental avec des travaux au cœur de l’informatique graphique et de la vision par ordinateur, et de façon transversale avec des travaux en réalité virtuelle et applications multimédia distribuées.<br />
        VORTEX est regroupée autour de trois axes :<br />
        · Le premier travaille sur le cœur de la problématique des objets visuels numériques : acquisition, création et visualisation.
        <br />
        · Le deuxième axe, autour de la simulation comportementale et de la vie artificielle, cherche à peupler les mondes virtuels et à faire évoluer les entités qui les composent.
        <br />
        Le troisième axe donne aux environnements virtuels et augmentés leur caractère interactif et communicant.
    </p>
</div>

<h2>Agence de l’Eau</h2>
<div class="indent-text">
    <img src="images/LogoAgencesEau.jpeg" alt="Agence de l'eau" width="200" />

    <p>
        Etablissements publics du ministère chargé du développement durable, les agences de l’eau ont pour mission de contribuer à réduire les pollutions de toutes origines et à protéger la ressource en eau et les milieux aquatiques.
        Elles mettent en œuvre, dans les sept bassins hydrographiques métropolitains, les objectifs et les dispositions des schémas directeurs d’aménagement et de gestion des eaux (SDAGE, plans de gestion français de la directive cadre sur l’eau et leur déclinaison locale, les SAGE), en favorisant une gestion équilibrée et économe de la ressource en eau et des milieux aquatiques, l’alimentation en eau potable, la régulation des crues et le développement durable des activités économiques (article L213-8-1 Code de l’environnement ; Loi sur l’eau et les milieux aquatiques du 30  décembre 2006 – article 82).
        Acteurs de la mise en œuvre de la politique publique de l’eau, les agences de l’eau exercent leurs missions dans le cadre de programmes d’actions pluriannuels avec pour objectif final l’atteinte du bon état des eaux (directive cadre sur l’eau d’octobre 2000).
    </p>
</div>
<h2>SMEAG - Syndicat Mixte d'Études et d'Aménagement de la Garonne</h2>
<div class="indent-text">
    <img src="images/LogoSMEAG.jpeg" alt="SMEAG" />

    <p>
        L’établissement public, créé il y a trente ans autour de la valorisation économique de la vallée de la Garonne, a pour mission de favoriser la gestion équilibrée de la ressource en eau et des milieux aquatiques, la prévention des inondations ainsi que la gestion et la préservation des milieux naturels et des zones humides.
    </p>
</div>

<h2>Tataragne Interactive</h2>
<div class="indent-text">
    <img src="images/logo_TT.jpg" alt="Tataragne interactive" />

    <p>
        Tataragne Interactive est un studio toulousain spécialisé dans la conception et le développement de dispositifs interactifs 3D innovants
    </p>
</div>
<h2>Comm’In</h2>
<div class="indent-text">
    <img src="images/commin.png" alt="Comm’In" />

    <p>
        L'agence de communication Comm'IN est dédiée aux entreprises technologiques et innovantes. Elle crée pour vous des concepts impactants, une stratégie de visibilité sur vos marchés et pilote vos actions de communication..
    </p>
</div>

<h2>Partenaires financiers</h2>
<div class="indent-text">

    <div style="text-align: center;">
        <img src="images/logo_BPI.jpg" alt="BPI" />
        <img src="images/logo_EU_engage.jpg" alt="EU engage" />
        <img src="images/logo_EU.jpg" alt="EU" />
        <img src="images/logo_region_mipy.jpg" alt="Mipy" />
    </div>
</div>
<p></p>
