<div class="ariane">
    Accueil &gt; A propos d'Hydriis &gt; <span class="actif">Au service de</span>
</div>
<h1>A propos d’Hydriis Au service de</h1>


<h2 id="EAU">Gestionnaires de la ressource en eau</h2>

<div class="indent-text">

    <span class="line-break"></span>

    <p>
        Vous avez en charge la <b>surveillance, la préservation et la gestion de la ressource en eau, ainsi que la continuité écologique.</b><br />
        Vous souhaitez anticiper l’évolution des milieux humides de bordures de cours d’eau et de plaines alluviales, en réponse aux changements climatiques, et aux aménagements des cours d’eau ou dans les plaines.
    </p>

    <p>
        Nous vous accompagnons pour :
    </p>
    <ul class="list">
        <li><a href="/#/solutions/forecast" style="color:#729dbb;"><b>générer des cartes des milieux humides qui intègrent ces impacts</b></a></li>
        <li><b>simuler le fonctionnement hydrologique des milieux humides en réponse aux nouvelles contraintes.</b></li>
    </ul>
</div>

<h2 id="BE">Bureaux d’études</h2>
<div class="indent-text">
    <p>
        Vous réalisez des <b>études de diagnostic et d’impact des projets d’aménagement sur la qualité environnementale.</b>
        Pour les projets à fort enjeu sur la ressource en eau et les milieux humides, vous avez besoin de vous appuyer sur l’expertise d’un spécialiste outillé dans l’évaluation et la simulation des impacts.
    </p>

    <p>
        Nous identifions pour vous, par la simulation, <a href="/#/a_propos/modeles/hydro">de façon rapide et fiable et sans relevé terrain</a>, <b>les milieux humides</b> de bordures de cours d’eau et de plaines alluviales, ainsi que les zones à forte probabilité de saturation, <b>et simulons leur évolution en fonction des projets d’aménagements ou des évolutions climatiques.</b>
    </p>
</div>

<h2 id="CT">Collectivités Territoriales</h2>
<div class="indent-text">
    <p>
        Vous détenez, par vos compétences législatives et réglementaires, des responsabilités et des <b>leviers d’actions importants en matière de protection de l’environnement et en particulier des milieux humides.</b>
    </p>

    <p>
        Nous vous apportons notre savoir-faire sur <b>l’évaluation de l’impact des projets d’urbanisme ou d’aménagement du territoire</b>, notamment sur les conséquences de l’emprise des projets sur l’évolution des milieux humides, ainsi que leur faisabilité d’un point de vue socio-économique.
        Nous vous fournissons ainsi des <b>clés pour concilier le développement de votre territoire et les attentes environnementales. </b>
    </p>

</div>

<h2 id="MO">Maîtrise d’ouvrage et Maîtrise d’oeuvre</h2>

<div class="indent-text">

    <p>
        Vous devez identifier et <b>anticiper les risques liés à la ressource en eau et aux milieux humides pour éviter tout blocage ou ralentissement.</b>
    </p>
    <p>
        Nous vous accompagnons pour <b>simuler les conséquences de votre projet sur les milieux humides</b> en terme de couverture territoriale et de fonctionnement hydrologique. Nous vous apportons des informations concernant <b>les vitesses de circulation des eaux, les hauteurs d’eau dans les rivières et les nappes, et la saturation en eau des sols.</b>
    </p>
    <p>
        Nous évaluons les conséquences socio-économiques de votre projet en <b>calculant les coûts directs et indirects des dommages causés aux milieux humides, et en dimensionnant les risques d’oppositions liées aux valeurs sociétales.</b>
    </p>




</div>