<div class="ariane">
    Accueil &gt; A propos d'Hydriis &gt; <span class="actif">Nos valeurs</span>
</div>
<h1>A propos d’Hydriis Nos valeurs</h1>

<h2>Présentation d’Hydriis</h2>

<div class="indent-text">

    <span class="line-break"></span>

    <p>
        Hydriis est un ensemble de <b>solutions d’évaluation et d’aide à la gestion des milieux humides</b> de bordures de cours d’eau et de plaines alluviales, <a href="/#/a_propos/au_service_de ">au service</a> <b>des gestionnaires de l’eau, des bureaux d’études, des collectivités territoriales et des maîtres d’ouvrage et maîtres d’oeuvre.</b>
    </p>
    <p>
        Les solutions Hydriis vous permettent de <a href="/#/solutions/map">cartographier les milieux humides</a> et d’identifier les <a href="/#/solutions/eco">enjeux socio-économiques</a> associés.
    </p>
    <p>
        Hydriis <b>simule les évolutions</b> des milieux humides en terme de <a href="/#/solutions/forecast">fonctionnement hydrologique</a> et de <a href="/#/solutions/eco">dimensions socio-économiques</a> <b>suite aux modifications climatiques, ou aux aménagements des cours d’eau et des plaines alluviales.</b>
    </p>

	<span class="image-container">
	  <img src="images/IMG_13.jpg" alt="" width="300" />
	  <p><br /><br />
          Les solutions Hydriis fonctionnent à partir de <a href="/#/a_propos/modeles">deux modèles</a>, un modèle hydrodynamique et un modèle d’évaluation socio-économique.<br />
          Le modèle hydro délivre des informations sur les <a href="/#/solutions/map">vitesses de circulation des eaux et les hauteurs d’eau dans les rivières et les nappes, ainsi que sur la saturation en eau des sols</a>.<br />
          Le modèle socio-éco analyse et <a href="/#/solutions/eco">évalue les impacts socio-économiques</a> de tout projet au sein des plaines alluviales.
      </p>
	</span>
    <p>
        En complément, un <a href="/#/solutions/city">support dynamique pédagogique et convivial</a> vous aide dans vos actions de sensibilisation et de <a>formation à la gestion équilibrée de la ressource en eau</a> et des milieux humides d’un territoire.
    </p>

</div>

<h2>Nos valeurs</h2>

<div class="indent-text">

    <span class="line-break"></span>

    <p>
        <b>Concilier les enjeux environnementaux et socio-économiques au sein des milieux humides des plaines alluviales</b>
    </p>
    <p>
        Les milieux humides <a target="_blank" href="http://www.sandre.eaufrance.fr/spip.php?page=actualite&id_rubrique=40&id_article=1297">(dictionnaire des milieux humides © Sandre - 2014)</a> sont caractérisés par des interactions complexes entre l’eau, les sols, les micro-organismes et les plantes qui créent des biens et des services tels que :
    </p>
    <ul class="list">
        <li>la <b>régulation hydrologique</b> : écrêtement des crues jusqu’à 65%, soutien minimum des débits d’étiage ;</li>
        <li>l’<b>épuration des eaux</b> en favorisant le processus d’auto-épuration ;</li>
        <li>le support à la <b>biodiversité</b> en créant des corridors naturels contenant les ressources alimentaires et les habitats pour de nombreuses espèces animales et végétales ;</li>
        <li>la <b>production de ressources naturelles</b> : eau de qualité, bois, élevage, etc.</li>
        <li>des <b>activités récréatives et touristiques</b> spécifiques : pêche, chasse, naturalisme ...</li>
        <li>la <b>qualité du paysage</b> et le patrimoine naturel.</li>
    </ul>
	<span class="image-container">
	  <img src="images/IMG_11.jpg" alt="" width="300" />
	  <p><br /><br /><br /><br />
          Les plaines alluviales sont des lieux à densité importante et sont donc soumises à de nombreux projets d’aménagements territoriaux et de développement économique qui se traduisent par exemple par l’augmentation des <b>prélèvements d’eau, le développement des infrastructures, la conversion des terres pour les activités agricoles et forestières et l’expansion urbaine.</b>
      </p>
	</span>
    <p>
        Les milieux humides soumis à ces pressions anthropiques croissantes voient leur nombre diminué : à l’échelle mondiale, ce sont  <b>50% des zones humides qui ont disparu depuis 1900</b> <a target="_blank" href="http://webworld.unesco.org/water/wwap/facts_figures/proteger_ecosystemes.shtml">(UNESCO)</a>.
        <br />
        En France, la <a target="_blank" href="http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000649171">loi n°2006-1772 du 30 décembre 2006 sur l’eau</a> et les milieux aquatiques vise à protéger les zones humides dites “loi sur l’eau”. Plus généralement, <b>tout projet susceptible d’avoir une emprise sur des milieux naturels doit identifier la présence de zones humides, éviter de les impacter, à défaut en réduire l’impact puis compenser les impacts résiduels</b> (réparer les dommages causés aux zones humides ou remplacer les zones humides détruites).
    </p><p>
    Hydriis identifie de façon rapide et fiable la présence de milieux humides de bordures de cours d’eau et de plaines alluviales, et permet de comparer l’évolution “passé/présent/futur” en fonction des modifications climatiques, ou des aménagements des cours d’eau et des plaines alluviales.
    Hydriis évalue complémentairement la faisabilité des projets d’aménagement ou de restauration du territoire d’un point de vue socio-économique.
</p><p>
    <b>Hydriis fournit ainsi des clés pour concilier les projets de développement au sein des plaines alluviales, le bon fonctionnement des milieux humides et les équilibres socio-économiques des territoires.</b>
</p>

</div>