doctype html
html
    head
        block head
        link(rel='stylesheet', type='text/css',href='http://fonts.googleapis.com/css?family=Signika:400,300,600,700')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
        script(type='text/javascript', src='/javascripts/js-image-slider/js-image-slider.js')
        script(type='text/javascript', src='/javascripts/front.js')

    body
        #header.header

        #main.main
            .content

        #footer.footer

