<p class="title_3">
    Liste des zones sélectionnées
</p>
<form id="downloadForm">
    <ul class="list list_map">
    {{for (var key in it){ }}
        <li id="{{=key}}" class="dlRow">
                {{=it[key].name}}  <input type="checkbox" value="{{=key}}" class="complete checker right" checked/>
        </li>
    {{ } }}
    </ul>

Télécharger les fichiers cochés au format <select name="format" class="format" form="downloadForm"><option value="geojson">GeoJSON</option><option value="kml">KML</option></select> <input type="submit" id="downloadSubmit" class="smallbtn" value="Télécharger"/>
</form>
<span class="error"></span>