html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
table, tr, td,
fieldset, form, label, legend { font-family: 'Signika', sans-serif; margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

html *{
    font-family: 'Signika', sans-serif;
    color: #748490;
}
body{
    /*background-color:#748490;*/
}

table{
border-spacing:0;
}
td{
vertical-align:top;
}
.smallbtn{
	padding: 2px 10px;
	background: #b1c800;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.input_form{
	color:#ccc;
	border:1px solid #ccc;
	padding:2px;
}
.clear{
    clear:both;
}
.content {
    margin: 0 auto;
    width: 1000px;
}
.content > table tr td:first-child{
    width:750px;
}

.home_content b, p b, li b{
	font-weight:500;
	/*color:#626f79;*/
}

.nopadding {
    padding: 0 !important;
}
.nopaddingright {
    padding-right: 0 !important;
}
.container_map{
	width:450px;
	height:220px;
	float:left;
	margin-right:15px;
}
.container_map_infos{
	height:220px;
	float:left;
}
.container_map_info p{
	
}
.title_3{
	font-size: 15px;
	color: #729dbb;
	font-weight: 500;
}
.container_map_info b{
	font-weight: 500;
	font-size: 15px;
	color: #729dbb;
	padding-bottom: 20px;
	display: block;
	padding-top: 60px;
}
#header {
    min-width:1000px;
    height: 475px;
    padding:0;
    background: url(../images/sliders/slide1.jpg) no-repeat 50% 50% scroll;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    
    /* fixed */
    
    /*width: 1000px;
	position: fixed;
	top: 0;
	margin-left: -500px;
	left: 50%;*/
	
     
}

#header .content{
/*margin-left: -500px;
left: 50%;
position: fixed;
z-index: 9999999999;*/
}

#main{
	/*position: absolute;
	top: 300px;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	z-index:98;*/
}



#header .content{
    background: url(../images/head-banner.png) no-repeat;
    height:158px;
    z-index: 1;
    position: relative;
}

#header .content #newsletter{
    text-align:right;
    padding:65px 20px 13px 0;
    font-size: 0.8em;
    font-weight: 200;
}
#header .content #newsletter #newsletter_valid{
    font-size: 1em;
    font-weight: 400;
    background-color: #b1c800;
    padding:2px 5px;
    color: #ffffff;
    text-decoration:none;
}
#header .content #newsletter #newsletter_valid:hover{
    text-decoration:underline;
}


#header .content #social{
    float:right;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 0.8em;
    font-weight: 200;
}
#header .content #social img{
    vertical-align:middle;
}

#header .content #header-text{
    width: 320px;
	height: 200px;
	margin: 125px 0 0 60px;
	position: absolute;
	z-index: 1;
	color: #ffffff;
}
#header .content #header-text > a > span, #header #slider div.mc-caption #header-text > p>a{
    background: url("../images/blocs/puce_1.png") no-repeat;
	display: block;
	padding: 1px 0 0 20px;
	float: left;
	color: #fff;
    font-weight: 600;
    font-size: 16px;
}
#header .content #header-text p#header-text-title, #header  #slider div.mc-caption #header-text p#header-text-title{
    font-weight: 800;
	width: 215px;
	color: #ffffff;
	font-size: 20px;
	padding-bottom: 3px;
}
#header .content #header-text p#header-text-desc,#header #slider div.mc-caption #header-text p#header-text-desc{
   width: 230px;
	margin-left: 20px;
	color: #b1c800;
	padding-bottom: 5px;
	font-weight: 300;
}
#header .content #header-text a{
    display: block;
	height: 30px;
	width: 300px;
	margin-left: 40px;
	color: #ffffff;
	text-decoration: none;
}
#header .content #header-text a img{
    vertical-align:middle; float: left;
}

#header .content #header-onglets{
    width:190px;
    height:200px;
    margin: 50px 0 0 0;
    float:right;
    background: url(../images/onglets-fente.png) no-repeat 100%;
    padding-top:40px;
    opacity: 0.9;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
}
#header .content #header-onglets ul#submenu{
    list-style-type:none;
    overflow:hidden;
}
#header .content #header-onglets ul#submenu a{
    text-decoration:none;
}
#header .content #header-onglets ul#submenu li{
    background: url(../images/onglets.png) no-repeat 100% 10%;
    height:30px;
    padding-top:5px;
    padding-left:155px;
}
#header .content #header-onglets ul#submenu li span.open{
    color: #ffffff;
    display:none;
    width:180px;
}
#header .content #header-onglets ul#submenu li span.close{
    display:block;
}
#header .content #header-onglets ul#submenu li:hover span.open{
    display:block;
}
#header .content #header-onglets ul#submenu li:hover span.close{
    display:none;
}

#header .content #header-onglets ul#submenu li:hover{
    background: url(../images/onglets-open.png) no-repeat 100% 10%;
    padding-left:7px;
}


#header ul#menu {
    float:left;
    list-style-type:none;
    margin-bottom:10px;
}

#header ul#menu a {
    text-decoration: none;
    color: #748490;
    padding: 10px 20px 9px 20px;
    font-weight: 300;
}

#header ul#menu > li {
    float:left;
    display:inline;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -ms-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    padding-top:10px;
}
#header ul#menu > li.submenu {
    padding: 10px 0 9px 20px;
    cursor: pointer;
    font-weight: 300;
}
#header ul#menu > li.border::after {
    content: "|";
    color: #b1c800;
    font-weight: 600;
}
#header ul#menu > li.border.submenu::after {
    padding-left: 20px;
}
#header ul#menu > li.noborder {
    padding-right: 23px;
}
#header ul#menu > li:hover {
    background-color: #ffffff;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -ms-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
}

#header ul#menu .open a {
    color: #ffffff;
    padding: 0;
    padding: 6px 20px 8px 20px;
}

#header ul#menu > li .open {
    list-style-type:none;
    position: absolute;
    margin-left: -20px;
    display: none;
    z-index: 2;
}
#header ul#menu > li:hover .open {
    margin-top:8px;
    display: block;
    background-color: #80a9c8;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.9;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
}
#header ul#menu > li .open li {
    color:#ffffff;
    padding: 6px 0 8px 0;
}
#header ul#menu > li .open li::after {
    border-top: 1px solid #ffffff;
    clear:left;
    width: 96%;
    position: absolute;
    content: '';
    left: 2%;
    margin-top:-6px;
}
#header ul#menu > li .open li:first-child:after {
    width:100%;
    left:0;
}

#header ul#menu > li .open li:last-child {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#header ul#menu > li .open li:hover {
    background-color: #b1c800;
    opacity: 0.9;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
}
#header ul#menu > li .open li a::before {
    content: "\25CF";
    color: #b1c800;
    font-size: 0.8em;
    margin-right: 5px;
}
#header ul#menu > li .open li a:hover:before {
    color: #80a9c8;
}
#header #slider-content{
    width:100%;
    height:475px;
    position:absolute;
}
#header #slider-content img.headImage{
    width:100%;
    height:100%;
}
#header #header-border{
    background-color:rgb(114, 157, 187);
    background-color:rgba(114, 157, 187, 0.9);
    height:10px;
    top:475px;
    width:100%;
    position:absolute;
    min-width:1000px;
}

#header #slider-nav{
    background: url(../images/slidernav.png) no-repeat;
    top: 435px;
    margin-left: 25%;
    position: absolute;
    width: 100px;
    height: 45px;
    opacity: 0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
}

#header #slider-nav ul {
    padding: 0 4px;
}

#header #slider-nav li {
    font-size:1.6em;
    color:rgb(167, 167, 167);
    display:inline;
}


#header #slider-nav li.selected {
    color:#b1c800;
}



#main {
    background-color: #eff3f4;
    min-height: 100%;
    min-width:1000px;
}
#main .content {
    background-color: #ffffff;
    height:100%;
}


.padding-text {
    padding: 0 40px;
}

.right {
    float:right;
}
.left {
    float:left;
}
hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-bottom: 20px;
}

input, textarea{
    border: 1px solid #94a0a9;
}

input.input-normal {
    width:400px;
}
input.input-medium {
    width:500px;
}
input.input-large {
    width:600px;
}
form#contact textarea {
    width:600px;
    height:200px;
}
form#contact .right {
    margin-right:20px;
}
form#contact label {
    font-style: italic;
}

#localiser-adresse{
    padding-top: 50px;
    float:right;
}
#localiser-adresse span{
    font-weight: bold;
    font-size: 1.2em;
}




h1{
    text-transform:uppercase;
    color:#748490;
    font-weight:300;
    font-size: 22px;
    padding-bottom: 20px;
}
h1::before {
    content: "| ";
    color:#b1c800;
    font-weight:600;
}
p.first-text{
    font-style:italic;
    color:#94a0a9;
    line-height: 16px;
    font-size: 13px;
    padding-bottom:20px;
}
.padding-text h2{
    padding-left: 12px;
    color: #b1c800;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 10px;
    clear: left;
}
.padding-text h2::before {
    content: "| ";
    color:#748490;
    font-weight:300;
}

.padding-text h3{
    padding-left: 12px;
    color: #748490;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 10px;
    clear: left;
}
.padding-text h3::before {
    content: "| ";
    color:#b1c800;
    font-weight:300;
}

p{
    padding-bottom:20px;
    color: #748490;
	font-size: 13px;
	font-weight: 300;
}
.indent-text{
    padding-left: 20px;
    color:#748490;
    font-size:13px;
    font-weight: 300;
}
.line-break{
    display:block;
    border-bottom:1px solid #e3e6e9;
    margin: 0 0 10px 0;
}
.image-container img{
    float:left;
    padding:0 15px 20px 0;
}
.image-container p{
    padding:0 0px 20px 0;
}
.image-container{
display: inline-block;
}

img.wi-image {
    width: 275px;
    height: 170px;
}
.ariane{
	 padding-top: 40px;
    font-size: 13px;
    font-weight: 300;
    color: #748490;
    padding-bottom: 25px;
}
.ariane .actif{
    color: #b1c800;
    text-decoration:underline;
}

ul.list{
    clear: both;
    font-style:italic;
    padding-left:10px;
    list-style-type:none;
    padding-bottom:20px;
}
ul.list li{
    border-bottom: 1px solid #e3e6e9;
    color: #729dbb;
    padding: 4px;
    font-size: 14px;
}
ul.list li b{
    color: #729dbb;
}
ul.list_map li{
    border-bottom: 1px solid #e3e6e9;
    color: #748490;
    line-height: 27px;
    font-size: 14px;
    font-weight: 300;
    font-style:normal;
}
ul.list_map li:last-child{
    border-bottom: 1px solid #e3e6e9 !important;
}
ul.list_map li:first-child{
    border-top: 1px solid #e3e6e9;
}
ul.list li:last-child{
    border-bottom: 0px;
}
ul.list li::before {
    content: "\2022  ";
    color:#b1c800;
}
#newsemail{
	border:1px solid #ccc;
	padding:2px;
	font-weight:300;
}
#newsform input:last-child{
	background:#b1c800;
	color:#fff;
	border:none;
	padding:2px;
}
.poub{
	float: right;
	width: 19px;
	cursor: pointer;
	height: 24px;
	display: block;
	background: url(../images/poub.png) no-repeat right center;
}
.checker{
	width: 15px;
	height: 15px;
	display: block;
	margin: 6px;
}
.right{
	float: right;
}
p.nb{
    font-style:italic;
    color:#777;
    padding-bottom:20px;
}
p.nb::before{
    content: "NB: ";
    color:#999;
}
p.figure{
    background:#999;
    padding:5px;
    color:#fff;
    margin-bottom:20px;
}
p.figure a{
    color:#fff;
}
.partners{
	text-align:center;
}
.partners:last-child{
	margin-bottom:20px;
}
select, select option{
	color: #666 !important;
}
.partners img{
	height:40px;
}
.btn{
    padding:10px 20px;
    background:#b1c800;
    color:#fff;
    display: block;
    margin-bottom:20px;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
}
.btn:hover{
    text-decoration:underline;
}
.bloc-01-text {
	text-decoration: none;
    position: relative;
    background: url(../images/blocs/bloc-01.png) no-repeat;
    width: 248px;
    height: 164px;
    margin: 10px 1px;
    float: left;
}
.bloc-01-text h2{
    font-size: 20px;
    margin: 20px 0 10px 15px;
    height: 22px;
    padding:0 0 0 26px;
    color:#fff;
    font-weight:300;
}
.bloc-01-text *{
text-decoration: none;
}
.bloc-01-text h2 span.name-title{
    font-size:20px;
    font-weight:bold;
    color: #fff;
    text-decoration:none;
}
.bloc-01-text p{
    width: 120px;
    color: #fff;
    margin: 0 0 0 41px;
    font-size: 14px;
    font-weight: 300;
}
.bloc-01-text > img{
    top: 39px;
    right: 15px;
    position: absolute;
}
.bloc-01-text .puce {
    padding:0 10px 0 0;
}
.type_1{
    background:url(../images/blocs/puce_1.png) no-repeat left center;
}
.type_1 .color{color:#b1c800;}
.type_2{
    background:url(../images/blocs/puce_2.png) no-repeat left center;
}
.type_2 .color{color:#75bde7;}
.type_3{
    background:url(../images/blocs/puce_3.png) no-repeat left center;
}
.type_3 .color{color:#edb52f;}
.type_4{
    background:url(../images/blocs/puce_4.png) no-repeat left center;
}
.type_4 .color{color:#e466b3;}


.home_content{
    padding: 40px 45px 0 40px;
    width:500px;
    float:left;
}
.home_demo{
    width:395px;
    height:210px;
    float:left;
    background:#e8eaec;
}
.home_demo h2{
    margin: 25px 0 0 25px;
    line-height: 34px;
    color: #98a3ab;
    font-weight: 300;
    padding: 0 0 0 26px;
    background: url(../images/blocs/puce_1.png) no-repeat left 6px;
    font-size: 19px;
}
.home_demo > a{
    text-decoration:none;
}
.home_demo > a > div{
    width: 300px;
    background:#fff;
    padding:5px;
    float:left;
    margin: 5px 0 0 52px;
}
.home_demo > a > div > img{
    float:left;
}
.home_demo > a > div > div{
    background:#b1c800;
    color:#fff;
    font-family:serif;
    font-size:13px;
    padding:15px 10px;
    float:left;
    height:70px;
    width:80px;
}
.home_content .next{
    font-weight: 500;
    margin-top: 15px;
    display: block;
    border-top: 1px solid #e3e6e9;
    width: 192px;
    color: #b1c800;
    padding: 15px 0;
}
.divider{
    width: 80%;
    margin: 10%;
    border-top:1px solid #666;
}
.bold{
    font-weight:bold;
    color: #ffffff;
}
.green{
    color: #b1c800;
}









.totem.side{
width:250px;

}
.totem.side h1{
padding:40px 0 5px 0;
margin: 0;
clear:left;
}
.totem.side .bloc-01-text{
height:80px;
width:250px;
}
.totem.side .bloc-01-text h2{
    margin: 12px 0 4px 15px;
}
.totem.side .bloc-01-text > img{
    top: 9px;
    right: 7px;
    position: absolute;
}
.totem.side .bloc-01-text p{
    width: 150px;
}
.totem.side .bloc-01-text {
margin:2px 0;
}
.totem.side .picto{
width:45px;
}
.totem.side .home_demo {
width:250px;
height:160px;
}
.totem.side .home_demo > a > div{
    width: 210px;
    background:#fff;
    padding:5px;
    float:left;
    margin: 15px;
}
.totem.side .home_demo > a > div > div{
    padding:8px 0 0 8px;
    height:40px;
    width:202px;
font-size:14px;
}



table#notremodel_image2{
    border: 3px solid #000000;
    padding: 10px 4px;
}
table#notremodel_image2 p{
    color: #000000;
    font-size:17px;
    font-weight:bold;
    text-align:center;
}
table#notremodel_image2 td{
    width: 200px;
}
table#notremodel_image2 .middle{
    vertical-align: middle;
    width:55px;
}
table#notremodel_image2 b {
    color: #000000;
}
table#notremodel_image2 div{
    color: #000000;
    padding:40px 5px;
    border: 1px solid #000000;
    background-color: #75bde7;
    -webkit-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    border-bottom-radius: 10px;
    border-bottom-radius: 10px;
}

#footer {
    width:100%;
    min-width:1000px;
    color:#ffffff;
    min-height:150px;
    background-color: #748490;
}

#footer .content > div {
    padding:20px 30px;
    font-size:0.8em;
}
#footer .content > div .block {
    float:right;
    color:#ffffff;
    border-left:1px solid #e3e6e9;
    padding:0 10px 0 30px;
    font-size:1.2em;
}
#footer .content, #footer a {
    color:#ffffff;
    padding:3px;
    font-weight:200;
}
#footer a {
    text-decoration:none;
}
#footer li.actif a{
color: #b1c800;
    text-decoration:underline;

}

#footer .content > div ul {
    float:left;
}
#footer li {
    display:inline;
}
#footer li::after {
    content: "|";
    color: #b1c800;
    font-weight: 600;
}
#footer li:last-child:after {
    content: "";
}

#footer #conception {
    margin-top:30px;
}
.admindev{
	line-height: 11px;
}
.admindev a{
	color:#ccc;
	font-size:10px;
	padding:5px;
	text-transform:capitalize;
}


























/* Slider */
/* http://www.menucool.com */

#sliderFrame 
{
    position:relative;
    width:100%;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider div.sliderInner {

    width:100%;height:475px;/* Must be the same size as the slider images */
}

#slider {
	background:#fff url(loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/* image wrapper */
#slider a.imgLink, #slider div.video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position:relative;
	width:1000px;
	height:auto;
	padding:0px 0;/* 10px will increase the height.*/
	left:0px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:0px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
    margin:0 auto;
}
#slider div.mc-caption-bg 
{
    /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	height: 0px;
    background:none;/* or any other colors such as White, or: background:none; */
}
#slider div.mc-caption-bg2 {
    /*background: none;*/
    width: 1000px;
    height: 320px;
    top: 155px;
    opacity: 0.9 !important;
    background:url('../images/slidebg.png') no-repeat;
}
#slider div.mc-caption {
	color:#FFF;
	z-index:4;
	text-align:left;
    margin: 125px 0px 0px 60px;
    width: 320px;
    height: 200px;
}

#slider div.mc-caption a{
    display: block;
    height: 30px;
    width: 300px;
    margin-left: 40px;
    color: #FFF;
    text-decoration: none;
}



/* ------ built-in navigation bullets wrapper ------*/
/* Note: check themes\2\js-image-slider.css to see how to hide nav bullets */
#slider div.navBulletsWrapper  {
    top:130px;/* Its position is relative to the #slider */
    background-color: rgba(92, 124, 147, 1);
    width: 150px;
    height: 20px;
    padding-top: 5px;
    margin: 0 auto;
    opacity: 0.8;
	text-align:center;
	position:relative;
	z-index:5;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color: #748490;/*hide the index number in the bullet element*/
    background:transparent url(../images/bullet.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider div.navBulletsWrapper div.active {background-position:0 -11px;}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}

.map-wrapper .map {
    width: 450px;
    height: 220px;
}
.error {
    font-style: italic;
    color :red;
}

.segment{
    cursor: pointer;
}