

    Hydriis est un ensemble de <b>solutions d’évaluation et d’aide à la gestion des milieux humides</b> de bordures de cours d’eau et de plaines alluviales, <b>au service des gestionnaires de l’eau, des bureaux d’études, des collectivités territoriales et des opérateurs privés ou publics de projets d’aménagement ou de restauration.</b>
    <p></p>
    Les solutions Hydriis vous permettent de <b>cartographier les milieux humides</b> et d’identifier les enjeux socio-économiques associés.
    Hydriis <b>simule les évolutions</b> des milieux humides en terme de fonctionnement hydrologique et de dimensions socio-économiques, <b>suite aux modifications climatiques, ou aux aménagements des cours d’eau et des plaines alluviales.</b>



    <a class="next" href="/#/a_propos/valeurs/presentation">
        > Lire la suite
    </a>
