<div class="ariane">
    Accueil &gt; <span class="actif">Nous contacter</span>
</div>
<h1>NOUS LOCALISER</h1>
<span class="image-container">
	<img src="http://placehold.it/400x250" class="valign-center">
	<p id="localiser-adresse">
        <span>Hydriis by Acceptables Avenir</span><br>
        Prologue, 815 la Pyrénéenne<br>
        31670 LABEGE<br>
        Tél : 05 61 28 00 36
    </p>
</span>
<h1>NOUS CONTACTER</h1>
<p class="first-text">Remplissez le formulaire ci-dessous pour nous contacter</p>
