<div class="ariane">
    Accueil > A propos d'Hydriis > <span class="actif">Vos enjeux</span>
</div>


<h1>
    Vos enjeux
</h1>


<h2 id="cartographier">Cartographier les milieux humides</h2>

<div class="indent-text">
    <p class="first-text">
        Vous devez identifier la présence de milieux humides ou cibler vos analyses terrain de délimitation de zones humides.
    </p>


		  <span class="image-container">
		  <img src="images/dune1.png" alt="Test image" class="wi-image"/>
		    <p><br /><br />
                Hydriis MAP cartographie les milieux humides et les probabilités de saturation en eau des sols en bordures de cours d’eau et en plaines alluviales, de façon rapide et fiable, sans relevé terrain, grâce à la simulation et avec peu de données d’entrée, notamment en fonction de données historiques de débit rivière (ou hauteurs d’eau)
            </p>
		  </span>

    <p class="nb">
        La notion de milieu humide est définie en fonction de paramètres modifiables de durée et de fréquence de saturation, de profondeur de nappe, et peut être couplée à la période de végétation pour définir les conditions d’hydrologie et de température favorables au développement de la végétation hygrophile.
    </p>

    <p>
        Hydriis MAP permet ainsi de simuler les cartographies sur différentes périodes (historique ou actuelle), et de les comparer entre elles.
    </p>
</div>

<h2 id="prevoir">Prévoir les évolutions</h2>
<div class="indent-text">
    <p class="first-text">
        Vous souhaitez évaluer l’évolution des milieux humides de bordures de rivière ou de plaines alluviales dans les années à venir suite aux changements climatiques.
    </p>

		  <span class="image-container">
		  <img src="images/dune2.png" alt="Test image" class="wi-image"/>
		    <p><br /><br /><br />
                Hydriis FORECAST permet de réaliser des <b>prévisions sur l’évolution des milieux humides et des probabilités de saturation des sols en eau</b> en bordures de cours d’eau et en plaines alluviales, suite aux <b>changements climatiques</b> (évolution des températures ou des débits rivière).
            </p>
		  </span>
</div>

<h2 id="anticiper">Anticiper les impacts des projets</h2>
<div class="indent-text">
    <p class="first-text">
        Vous souhaitez évaluer l’impact de vos futurs aménagements sur les milieux humides de bordures de rivière ou de plaines alluviales.
    </p>

		  <span class="image-container">
		  <img src="images/dune3.png" alt="Test image" class="wi-image"/>
		    <p><br /><br /><br />
                Hydriis FORECAST cartographie les milieux humides suite à ces aménagements (bases de loisirs, gravières, industries, voies de transports, enrochements, méandrages, etc.), simule les champs de vitesse autour de ces aménagements et évalue les niveaux de saturation.
            </p>
		  </span>
</div>

<h2 id="conformite">Conformité des projets en milieux humides</h2>
<div class="indent-text">
    <p class="first-text">
        Vos projets d’infrastructures sont susceptibles de modifier le fonctionnement des milieux humides de bordures de rivière ou de plaines alluviales.
        Vous devez protéger, aménager, restaurer un milieu humide tout en conservant ses fonctionnalités.
    </p>

		  <span class="image-container">
		  <img src="images/dune4.png" alt="Test image" class="wi-image"/>
		    <p><br /><br />
                Hydriis FORECAST simule les impacts d’aménagements sur le fonctionnement hydrologique des milieux humides concernés.
                Hydriis ANALYSIS évalue les impacts socio-économiques du projet en mesurant les dommages monétaires et non-monétaires.
                La prise en compte des valeurs non-monétaires permet d’intégrer les attentes des parties prenantes et d’éviter ainsi pour le projet des retards voir des blocages.
            </p>
		  </span>

    <p>
        Hydriis permet de tendre vers la conformité des projets par la définition de solutions optimales qui respecteront les fonctionnalités hydrologiques, les contraintes économiques et qui recueilleront l’adhésion des riverains, des collectivités, des associations et des services de l’Etat.
    </p>
</div>


<h2 id="sensibiliser">Sensibiliser & Former</h2>

<div class="indent-text">
		  <span class="image-container">
		  <img src="images/dune5.png" alt="Test image" class="wi-image"/>
		    <p><br /><br /><br />
                Dans Hydriis-GAME, le joueur prend conscience des <b>enjeux associés aux écosystèmes uniques que sont les milieux humides</b>, en considérant leur rôle dans le régime et  la qualité des eaux.
            </p>
		  </span>

    <p>
        Il prend la mesure des <b>nombreuses interactions entre le fonctionnement de ces milieux humides</b> et les activités humaines, et de l’intérêt d’une gestion harmonieuse du territoire par l’ajustement permanent de <b>l’équilibre entre les attentes de la société et la réponse de l’environnement.</b>
    </p>
</div>