<p class="title_3" id='areasList'>Liste des zones sélectionnées ({{=it.length}})</p>
<ul class="list list_map">
        {{for (var key in it.areas){ }}
        <li>{{=it.areas[key].name}} <span  id='{{=key}}' class="poub"></span></li>
        {{ } }}
</ul>