    <p class="indent-text">
<form id="registration" method="post" action="/register">
    <input id="mail" name="mail" type="email" placeholder="Email" required class="input_form"/>
    <input type="submit" class="smallbtn" value="Voir les résultats" />
    </form>
    </p>