<p class="title_3">Rechercher par</p>
        <div class="indent-text">
<form id="search" method="post" >
    <label for="tags">Points d'intérêts </label>
    <input list="htmlListTags" type="text" id="tags" value="" size="50" name="tags"  class="input_form" placeholder="Région, département, ville ... Exemple : Monbéqui"/>
    <datalist id="htmlListTags">
        {{~ it.places :value }}
        <option >{{=value.name}}</option>
        {{~}}
    </datalist>
</form>
Segments
        <ul class="list">
            {{~ it.segments :value:index}}
            <li class="segment" id="{{=value.name}}">
                {{=value.name}}
            </li>
            {{~}}
        </ul>
        </div>