
    <div class="content">
        <div>
            <ul>
                <li {{? it.accueil}}class="actif" {{?}}><a href="/">Accueil</a></li>
                <li {{? it.apropos}}class="actif" {{?}}><a href="/#/a_propos/valeurs">A propos d'Hydriis</a></li>
                <li {{? it.enjeux}}class="actif" {{?}}><a href="/#/enjeux">Vos enjeux</a></li>
                <li {{? it.solutions}}class="actif" {{?}}><a href="/#/solutions/map_demo">Nos solutions</a></li>
                <!--<li><a href="/#/panier">Panier</a></li>-->
                <li {{? it.contact}}class="actif" {{?}}><a href="/#/contact">Contact</a></li>
                <li {{? it.plan}}class="actif" {{?}}><a href="/#/plan">Plan du site</a></li>
                <li {{? it.mentions}}class="actif" {{?}}><a href="/#/mentions_legales">Mentions légales</a></li>
            </ul>
            <!--<div class="right">
                <a href="http://youtube.com" target="_blank"><img src="images/demobtn2.jpg"></a><br>
                <img src="images/commin.png" id="conception">
            </div>
            <div class="block">
                LES MILIEUX<br>HUMIDES ? <br>
                <a href="http://youtube.com" target="_blank"><span class="bold"><span class="green">&gt;</span> La vidéo</span></a>
            </div>-->
        </div>
    </div>