<div id="newsletter">
    <form id="newsform">
        <label name="newsemail" class="labelNews">Recevoir nos news</label>
        <input name="newsemail" id="newsemail" placeholder="Votre email" type="email" required/>
        <input type="submit" value="OK"/>
    </form>
</div>
<div id="social">
    Suivez nous&nbsp;&nbsp;
    <a href="http://www.scoop.it" target="_blank"><img src="images/networking/follow_scoopit.png"></a>
    <a href="http://www.viadeo.com" target="_blank"><img src="images/networking/follow_viadeo.png"></a>
    <a href="http://www.linkedin.com" target="_blank"><img src="images/networking/follow_linkedin.png"></a>
</div>
<ul id="menu">
    <li class="border"><a href="/">ACCUEIL</a></li>
    <li class="border submenu">A PROPOS D'HYDRIIS
        <ul class="open">
            <li><a href="/#/a_propos/valeurs">Nos valeurs</a></li>
            <li><a href="/#/a_propos/au_service_de">Au service de</a></li>
            <li><a href="/#/a_propos/modeles">Nos modèles</a></li>
            <li><a href="/#/a_propos/partenaires">Nos partenaires</a></li>
        </ul>
    </li>
    <li class="border submenu"><a href="/#/enjeux" class="nopadding">VOS ENJEUX</a>
        <ul class="open">
            <li><a href="/#/enjeux/cartographier">Cartographier les milieux humides</a></li>
            <li><a href="/#/enjeux/prevoir">Prévoir les évolutions</a></li>
            <li><a href="/#/enjeux/anticiper">Anticiper les impacts des projets</a></li>
            <li><a href="/#/enjeux/conformite">Conformité des projets</a></li>
            <li><a href="/#/enjeux/sensibiliser">Sensibiliser &amp; Former</a></li>
        </ul>
    </li>
    <li class="border submenu">NOS SOLUTIONS
        <ul class="open">
            <li><a href="/#/solutions/map_demo">Hydriis MAP DEMO</a></li>
            <li><a href="/#/solutions/map">Hydriis MAP</a></li>
            <li><a href="/#/solutions/forecast">Hydriis FORECAST</a></li>
            <li><a href="/#/solutions/eco">Hydriis ECO</a></li>
            <li><a href="/#/solutions/city">Hydriis CITY</a></li>
        </ul>
    </li>
    <!--<li class="border"><a href="/#/panier">PANIER</a></li>-->
    <li class="noborder nopaddingright"><a href="/#/contact">CONTACT</a></li>
</ul>
<div class="clear"></div>