<table>
    <tr>
        <td>
            <div class="padding-text">

                {{=it}}

            </div>

        </td>
        <td>
            <div class="totem side">

                <h1>NOS SOLUTIONS</h1>

                <a class="bloc-01-text" href="/#/solutions/map">
                    <h2 class="type_1"><span class="name-title">Hydri<span class="color">i</span>s</span> MAP</h2>

                    <p>Cartographie saturation des sols en eau</p>
                    <img src="images/blocs/picto_1.png" class="picto"/>
                </a>
                <a class="bloc-01-text" href=" /#/solutions/forecast">
                    <h2 class="type_2"><span class="name-title">Hydri<span class="color">i</span>s</span> FORECAST</h2>

                    <p>Pr&eacute;voir l'&eacute;volution des vall&eacute;es alluviales</p>
                    <img src="images/blocs/picto_2.png" class="picto"/>
                </a>
                <a class="bloc-01-text" href="/#/solutions/eco">
                    <h2 class="type_3"><span class="name-title">Hydri<span class="color">i</span>s</span> ECO</h2>

                    <p>Etude d'impact projet d'am&eacute;nagement</p>
                    <img src="images/blocs/picto_3.png" class="picto"/>
                </a>
                <a class="bloc-01-text" href="/#/solutions/city">
                    <h2 class="type_4"><span class="name-title">Hydri<span class="color">i</span>s</span> CITY</h2>

                    <p>Le support dynamique formation/sensibilisation </p>
                    <img src="images/blocs/picto_4.png" class="picto"/>
                </a>

                <h1>DEMO EN LIGNE<br/>&nbsp;&nbsp;HYDRIIS MAP</h1>

                <div class="home_demo">
                    <a href="/#/solutions/map_demo">
                        <div>
                            <img src="images/demo210.jpg" alt=""/>

                            <div>Testez une simulation sur<br/>zones pr&eacute; calcul&eacute;es</div>
                        </div>
                    </a>
                </div>

            </div>

        </td>
    </tr>
</table>