<form id="contact" action='/sendmail' method='post'>
    <p><input class="input-normal" placeholder="Nom" required="required" type="text"> *</p>
    <p><input class="input-normal" placeholder="Prénom" required="required" type="text"> *</p>
    <p><input class="input-medium" placeholder="Email" required="required" type="text"> *</p>
    <p><input class="input-medium" placeholder="Société" type="text"></p>
    <div style="margin: 0px 0 20px 0;width: 600px;border-bottom:1px solid #ccc;"> </div>
    <p><input class="input-large" placeholder="Objet" type="text"></p>
    <p class="left"><textarea class="left" placeholder="Message" required="required"></textarea>&nbsp;*</p>
    <p class="clear left"><input name="newsletter" id="newsletter-checkbox" type="checkbox"><label for="newsletter-checkbox">Cochez cette case pour recevoir nos news</label></p>
    <p class="right"><input type="submit" class="btn" value="ENVOYER"/></p>
    <p class="right"><input type="reset" class="btn" value="ANNULER"/></p>
</form>
