<div class="ariane">
    Accueil > Nos solutions > <span class="actif">Hydriis CITY</span>
</div>


<h1>Nos solutions Hydriis CITY</h1>

<div class="indent-text">
	<span class="image-container">
	  <img src="images/hydriiscitysolution.png" width="450px;" />
	  <span>Support dynamique de formation<br />et programme de sensibilisation</span>
	</span>
</div>

<h2>Le principe du jeu</h2>
<div class="indent-text">
	 <span class="image-container">
	   <p style="width:320px;margin-right:10px;" class="left">Dans Hydriis-CITY, le joueur prend conscience des enjeux associés aux écosystèmes uniques que sont les milieux humides, en considérant leur rôle dans le régime et la qualité des eaux.<br /><br />Il prend la mesure des nombreuses interactions entre le fonctionnement de ces milieux humides et les activités humaines, et de l’intérêt d’une gestion harmonieuse du territoire par l’ajustement permanent de l’équilibre entre les attentes de la société et la réponse de l’environnement.</p>
	   <img class="right" src="images/SG_InGame_1.png" width="300" />
	 </span>
</div>


<h2>Le fonctionnement</h2>
<div class="indent-text">
	 <span class="image-container">
	   <img src="images/SG_InGame_4.png" width="300" />
	   <p>Le plateau de jeu représente un paysage type de plaine alluviale. Le territoire se déploie le long d’un cours d’eau borné en amont par une zone montagneuse et en aval par une zone urbanisée. Il se compose de différentes cases qu’il peut aménager, aménagements propres au milieu naturel ou au milieu urbanisé.</p>

	   <p>Le joueur est invité à atteindre un équilibre entre 3 axes : les impacts en matière d’environnement, en matière d’économie et d’un point de vue social.</p>

	   <p>Les impacts environnementaux sont mesurés par des facteurs tels que la biodiversité et le niveau de pollution de la ressource en eau.</p>

	   <p>Les impacts économiques sont mesurés par la richesse produite par les différentes activités économiques. Certaines sont directement liées aux zones humides (loisirs : chasse, pêche, naturalisme), d’autres à l’agriculture, à l’industrie ou aux services.</p>
	   <p>Les impacts sociaux sont mesurés par le niveau de contentement de la population qui retranscrit la capacité du territoire à satisfaire les besoins de la population en termes de qualité ou de quantité d’eau (minimiser les risques de pénuries et d’inondation) mais également en termes de capacité à combler les attentes en termes économiques et de qualité environnementale.</p>

	 </span>
</div>


<h2>L'objectif</h2>
<div class="indent-text">

    <p style="width:320px;margin-right:10px;" class="left">Si le joueur parvient à équilibrer la situation entre les axes environnementaux, économiques et sociaux, le territoire devient attractif. La population augmente et les besoins associés se modifient. Le joueur doit alors ajuster ses actions pour rétablir un équilibre conciliant les nouveaux objectifs environnementaux, économiques et sociaux.</p>

    <img class="right" src="images/SG_InGame_7.png" width="300" />


</div>
<div class="clear"></div>
<div class="indent-text" style="margin-top:20px;">
    <p>Vous pouvez accéder à une démonstration du support de formation sur le site suivant : <a href="http://www.zones-humides-protect.com">http://www.zones-humides-protect.com</a></p>
</div>