<div class="ariane">
    Accueil &gt; Nos solutions &gt; <span class="actif">Hydriis ECO</span>
</div>
<h1>Nos solutions Hydriis ECO</h1>

<div class="indent-text">
    <p>La solution Hydriis-ECO analyse les valeur sociales et économiques des milieux humides pour mieux les préserver, les gérer et les restaurer.</p>
    <p>Hydriis-ECO délivre une cartographie des valeurs socioéconomiques pour un site donné et permet de confronter cette cartographie aux impacts potentiels d’un projet d’aménagement, de gestion ou de restauration. </p>
    <p>Hydriis-ECO peut être utilisé à deux fins :</p>
    <ul class="list">
        <li>établir une cartographie des enjeux socioéconomiques sur un territoire à composante naturelle</li>
        <li>évaluer les impacts socioéconomiques d’un projet venant modifier ce territoire (aménagement, gestion, restauration)</li>
    </ul>
    <p>L’argument économique guide généralement la prise de décision. Toutefois, il ne doit pas se limiter à la seule composante marchande de la valeur.<br />
        Hydriis-ECO investit la valeur économique dans son ensemble en considérant non seulement les valeurs marchandes associées aux usages mais aussi et surtout les valeurs sociales et environnementales des milieux humides.<br />
        Hydriis-ECO propose deux volets d’analyse:</p>
    <ul class="list">
        <li>Un premier volet dédié à l’identification des enjeux socio-économiques</li>
        <li>Un deuxième volet dédié à l’évaluation des valeurs associées à ces enjeux</li>
    </ul>
    <p>Hydriis-ECO  aide en particulier à identifier les projets dont la mise en oeuvre sera facilitée car respectueux des valeurs sociales et environnementales.</p>
    <p><img src="images/SchemaSocioEco.png" alt="Schema Socio Ecologique" width="650"></p>
</div>

