<div class="ariane">
    Accueil &gt; Nos solutions &gt; <span class="actif">Hydriis FORECAST</span>
</div>
<h1>Nos solutions Hydriis FORECAST </h1>


<h2>Réaliser des prévisions de l’évolution de la saturation des sols en eau</h2>
<div class="indent-text">
    <p>
        La solution Hydriis-FORECAST permet de réaliser des
        <b>prévisions sur l’évolution des milieux humides et des probabilités de saturation des sols en eau</b>
        en bordures de cours d’eau et en plaines alluviales, suite aux <b>changements climatiques</b> (évolution des températures ou des débits rivière), ou à des <b>aménagements</b> (bases de loisirs, gravières, industries, voies de transports, enrochements, méandrages, etc.).

    </p>

</div>

<h2>Prévisions sur les débits Horizon 2030</h2>
<div class="indent-text">
    <p>
        L’exemple ci-dessous montre les résultats d’Hydriis FORECAST, basés sur les prévisions du projet “Imagine 2030” (IRSTEA, EDF, Agence de l’eau Adour-Garonne, Cemagref) et de la thèse de J. Boé 2007, concernant la plaine alluviale de la Garonne.
        “Imagine 2030” prévoit une réduction maximale de 45% des débits en été et automne, ainsi qu’une réduction de 10% en hiver et au printemps.
    </p>

    <p>
        En appliquant cette réduction des débits sur l’ensemble de l’historique de 2004 à 2013, on obtient les résultats suivants :
    </p>

    <img src="images/FORECAST_image1.png" alt="Probabilit&eacute;s"  style="width:650px;" />
    <p class="figure">
        Cartographies des probabilités de saturation des sols, période actuelle 2004-2013 (à gauche), horizon 2030 (à droite).
    </p>
    <p>
        On constate une diminution de la saturation des sols en eau et par conséquent des milieux humides à l’horizon 2030. Le modèle prédit une diminution de 2.5% environ, de la surface des milieux humides entre 2014 et 2030.
    </p>

</div>

<h2>Impact d’aménagements sur la répartition des milieux humides</h2>
<div class="indent-text">
    <p>
        Hydriis FORECAST permet aussi de définir des aménagements en plaine ou de rivières comme illustré par la figure ci dessous.
        Après modification des paramètres et des données d’entrée du modèle afin de prendre en compte l’impact de ces aménagements sur les propriétés physiques et morphologiques, il est possible de simuler les écoulements (vitesses et hauteurs d’eau) et d’en déduire leur impact sur la répartition des milieux humides.

    </p>
    <img src="http://placehold.it/650x250&text=Image%20non%20fournie" />
    <p class="figure">
        Illustration de l’implantation d’une industrie dans la plaine alluviale et de la modification de la morphologie, issu de <a href="/#/solutions/forecast/ref">Bonneu et al. (2014)</a>
    </p>
    <p>
        <a href="/#/contact" class="btn">Pour tout devis, veuillez nous contacter</a>
    </p>
</div>

<h2>Références</h2>
<div class="indent-text">
    <ul class="list" id="ref">
        <li>Boé J., 2007. Changement global et cycle hydrologique : une étude de régionalisation sur la France. Thèse délivrée par l’université Paul Sabatier à  l’U.F.R. Physique Chimie Automatique, spécialité Physique du climat. <br /><a href="http://thesesups.ups-tlse.fr/227/1/Boe_Julien.pdf">> T&eacute;l&eacute;charger</a>
        </li><li>Bonneu A., Espitalier-Noël G., Torguet P., Jessel J.P., Sanchez-Pérez J.M., Vervier P., Sauvage S., 2014. Accept’Hydro: a tool for evaluating potential wetland area at floodplain scale. 7th International Congress on Environmental Modelling and Software (iEMSs), June 15-19, 2014, San Diego, California, USA.<br /> <a href="http://www.iemss.org/sites/iemss2014/papers/iemss2014_submission_117.pdf">> T&eacute;l&eacute;charger</a>
    </li><li>Sauquet E., et al., 2009. Journée de restitution du projet Imagine 2030 : Le bassin de la Garonne à l’épreuve du changement climatique, présentation <br /><a href="http://www.irstea.fr/sites/default/files/ckfinder/userfiles/files/GaronneFutur_IMAGINE2030_0912.pdf">> T&eacute;l&eacute;charger</a>
    </li>

    </ul>
</div>