<div class="ariane">
    Accueil &gt; Nos solutions &gt; <span class="actif">Map</span>
</div>
<h1>Nos solutions Hydriis MAP</h1>

<h2>Cartographier la saturation des sols en eau en plaines alluviales</h2>


<div class="indent-text">
	  <span class="image-container">
	  <img src="images/img_map.jpg" alt="MAP" />
	  <p>
          La solution Hydriis-MAP permet de générer, à l’aide d’un <a href="/#/a_propos/modeles">modèle hydrodynamique</a> utilisant <b>peu de données d’entrées et de paramètres physiques</b>,
          les cartographies des milieux humides et les probabilités de saturation en eau des sols en bordures de cours d’eau et en plaines alluviales,
          en fonction de données historiques de débit rivière (ou hauteurs d’eau).
      </p>
	  </span>

    <p>
        Hydriis-MAP permet ainsi de simuler les cartographies sur différentes périodes (historique ou actuelle), et de les comparer entre elles.

    </p>
    <p>
        Un exemple de cartographies appliqué à la plaine alluviale de la Garonne est présenté dans la <a href="/#/solutions/map_demo">DEMO EN LIGNE</a>.
    </p>

</div>

<h2>Validité du modèle de la DEMO EN LIGNE</h2>
<div class="indent-text">
    <p>
        Notre modèle hydrodynamique a été simulé dans la plaine de la Garonne, en utilisant directement les paramètres moyens définis dans l’article de <a href="/#/solutions/map/ref">Peyrard et al. (2008)</a>
        , et à l’aide de l’historique des débits mesurés à la station hydrologique de Verdun-sur-Garonne, au pas de temps quotidien du 01/01/2004 au 31/12/2013.

    </p>
    <p>
        Une fois la simulation sur 10 ans terminée, les hauteurs simulées (côtes NGF en mètres) et celles issues des données piézométriques mesurées au sein de l’unité mixte de recherche du CNRS, ECOLAB (4 piézomètres) et de la Banque ADES (2 piézomètres; source : Portail ADES, données exportées en avril 2014) ont été comparées, durant la dernière année de la simulation, à savoir du 20/04/2013 au 31/12/2013.
    </p>
    <p>
        L’erreur relative moyenne constatée est de 1% sur l’ensemble de ces piézomètres.
        Ce résultat confirme la fiabilité du modèle, <b>supérieure à 99% en moyenne</b> sur les données piézométriques. De plus, le modèle n’a pas été calibré au préalable sur les données piézométriques (i.e. pas d’optimisation des valeurs des paramètres en pré-traitement), mais uniquement comparé, lors de la dernière année de la  simulation (du 20/04/2013 au 31/12/2013), prouvant la robustesse du modèle tout au long de la simulation.
        <br />
        Si on compare la cartographie des milieux humides de la période actuelle aux zones humides élémentaires (Inventaire terrain ZHE du Conseil Général du département 82), on constate que les milieux humides simulés recouvrent ces zones en bordures de cours d’eau.
    </p>


    <img src="images/MAP_image1_ZHEvsMH.png" alt="Simulation"  style="width:650px;" />


    <p>
        De plus, si on compare la cartographie des probabilités de saturation des sols en eau avec la répartition des parcelles de culture aux abords de la Garonne (<a href="http://www.data.gouv.fr/dataset/registre-parcellaire-graphique-2012-contours-des-ilots-culturaux-et-leur-groupe-de-cultures-majorita">Registre Parcellaire Graphique RPG2012</a>), on observe que la plupart des zones où il existe une probabilité de saturation aux abords de la rivière, correspondent à des terres non cultivées .
    </p>


    <img src="images/MAP_image2_ProbaSATvsRPG2012.png" alt="Probabilit&eacute;s"  style="width:650px;" />

    <p class="figure">
        Occupation des sols avec les différentes cultures (Registre Parcellaire Graphique RPG2012) à gauche; cartographie des probabilités de saturation des sols à droite
    </p>




    <h3>Référence</h3>


    <div class="indent-text">

        <span class="line-break"></span>

        <ul class="list">
            <li>Peyrard, D., Sauvage, S., Vervier, P., Sanchez-Perez J.M. and Quintard, M., 2008. A coupled vertically integrated model to describe lateral exchanges between surface and subsurface in large alluvial floodplains with a fully penetrating river. Hydrol. Process. 22, 4257-4273.</li>
        </ul>
    </div>


    <h3>Évolution de la saturation des sols de 1982 à 2013</h3>
    <div class="indent-text">

        <p>
            Si on compare les résultats de la période historique 01/01/1973-31/12/1982, avec ceux de la période actuelle 01/01/2004-31/12/2013, on observe une diminution sensible de la probabilité de saturation des sols en eau.
            Le modèle prédit une <b>diminution de 13%</b> environ de la surface des milieux humides entre 1982 et 2013.
        </p>
        <img src="images/MAP_image3_ProbaSATPASTvsProbaSATPRESENT.png" alt="Probabilit&eacute;s"  style="width:650px;" />

        <p class="figure">
            Cartographies des probabilités de saturation des sols, période 1973-1982 (à gauche), période 2004-2013 (à droite)
        </p>

    </div>


    <p>

        <a href="/#/contact" class="btn">Pour tout devis sur les cartographies des probabilités de saturation des sols en eau, et des milieux humides, veuillez nous contacter</a>
    </p>

</div>